.vitrine {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  justify-content: center;
  justify-items: center;
}

.produto {
  width: 280px;
}

.produto:hover {
  box-shadow: 0 0 0 2px rgb(190, 190, 190);
}

.produto a {
  text-decoration: none;
  color: var(--text);
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: space-between;
}

.produto__img {
  width: 100%;
  display: block;
}

.produto__nome {
  font-size: 1.6rem;
}

.produto__preco {
  display: block;
  margin-top: 10px;
  font-size: 2.4rem;
}
